{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Log In </title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css'%}">
</head>

<body class="LogIn">
    <nav class="navbar">
        <div class="logo">DAWAM</div>
        <ul class="navLinks">
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
            <li><a href="{% url 'guest-browse' %}">Browse Jobs</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}" class="nav-cta">Sign Up</a></li>
        </ul>
    </nav>
    
    <h2 class="form-title">Log into your account </h2>
    <div class="login-container">    
        <form method="POST" action="#">
            <label id = "username-label" for="username"><b>Username:</b></label> <br>
            <input type="text" id="username" name="username" placeholder="Username or email" required> <br><br>
            <label id="password-label" for="password"> <b>Password:</b></label><br>
            <input type="password" id="password" name="password" placeholder="Password"> <br><br>
            <br>
            <input type="submit" value="Log in">
            <br>
    
        </form>
    </div>
    <p id="signup-link">Don't have an account?
        <a href="signup.html">Sign up</a>
    </p>
     <script src="{% static 'JS/LoginScript.js' %}"></script>
</body>

</html>